@{
    ViewBag.Title = "ChartFlot";
}
<div class="content-heading">Flot charts
   <div class="ml-auto text-center">
      <div data-sparkline="" data-bar-color="#cfdbe2" data-height="20" data-bar-width="3" data-bar-spacing="2" data-values="1,0,4,9,5,7,8,9,5,7,8,4,7"></div>
   </div>
</div>
<div class="container-fluid">
   <!-- START row-->
   <div class="row">
      <div class="col-xl-6">
         <div class="card card-default" id="cardChart1">
            <div class="card-header">
               <div class="card-title">Area</div>
            </div>
            <div class="card-body">
               <div class="chart-area flot-chart"></div>
            </div>
         </div>
      </div>
      <div class="col-xl-6">
         <div class="card card-default" id="cardChart9">
            <div class="card-header">
               <div class="card-title">Area Spline</div>
            </div>
            <div class="card-body">
               <div class="chart-spline flot-chart"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
   <!-- START row-->
   <div class="row">
      <div class="col-xl-6">
         <div class="card card-default" id="cardChart2">
            <div class="card-header">
               <div class="card-title">Bar</div>
            </div>
            <div class="card-body">
               <div class="chart-bar flot-chart"></div>
            </div>
         </div>
      </div>
      <div class="col-xl-6">
         <div class="card card-default" id="cardChart3">
            <div class="card-header">
               <div class="card-title">Bar - Stacked</div>
            </div>
            <div class="card-body">
               <div class="chart-bar-stacked flot-chart"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
   <!-- START row-->
   <div class="row">
      <div class="col-xl-12">
         <div class="card card-default" id="cardChart4">
            <div class="card-header">
               <div class="card-title">Line</div>
            </div>
            <div class="card-body">
               <div class="chart-line flot-chart"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
   <!-- START row-->
   <div class="row">
      <div class="col-lg-6">
         <div class="card card-default" id="cardChart5">
            <div class="card-header">
               <div class="card-title">Pie</div>
            </div>
            <div class="card-body">
               <div class="chart-pie flot-chart"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="card card-default" id="cardChart6">
            <div class="card-header">
               <div class="card-title">Donut
                  <small>(loaded from json)</small>
               </div>
            </div>
            <div class="card-body">
               <div class="chart-donut flot-chart"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
</div>
@section Styles {

}
@section Scripts {
    <script src="@Scripts.Url("~/Vendor/jquery-sparkline/jquery.sparkline.js")"></script>
    <script src="@Scripts.Url("~/Vendor/flot/jquery.flot.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js")"></script>
    <script src="@Scripts.Url("~/Vendor/flot/jquery.flot.resize.js")"></script>
    <script src="@Scripts.Url("~/Vendor/flot/jquery.flot.pie.js")"></script>
    <script src="@Scripts.Url("~/Vendor/flot/jquery.flot.time.js")"></script>
    <script src="@Scripts.Url("~/Vendor/flot/jquery.flot.categories.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jquery.flot.spline/jquery.flot.spline.js")"></script>
}


